*{
  box-sizing: border-box;
}
/* Font styles */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgba(78, 71, 255, 0.08);
}

/* Share area  */
.btn-styles{
  background: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}
.btn-styles:hover{
  background: yellowgreen;
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
}
.text-blue{
  color: #4E47FF;
  font-weight: 800;
}

/* nav bar styles  */
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}
.nav-bar ul li{
  list-style: none;
}
.nav-bar li a{
  text-decoration: none;
}
.logo{
  font-size: 34px;
}

/* header area styles  */
header{
  background-image: url("Assets/Hero-bg.png");
  background-size: cover;
}
.header-text{
  text-align: center;
  font-size: 27px;
  padding: 80px 267px;
}

/* Main area styles  */
.main-section{
  margin: 120px 150px 0px;
}

/* Action area styles  */
.action-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action-text{
  width: 500px;
}
.action-title{
  font-size: 42px;
  margin-top: 0;
}
.action-subtitle{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
}
.action-img{
  border-radius: 50px;
}

/* Joined user styles  */
.Productive-user{
  margin-top: 120px;
  text-align: center;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 150px;
  border-radius: 24px;
}
.Productive-user h2{
  font-size: 35px;
}
.user-joined{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.performance h1{
  font-size: 70px;
  margin-bottom: 0;
}
.performance p{
  color: rgba(37, 36, 50, 0.5);
  margin-top: 0;
}

/* touch form area styles  */
.touch-from{
  display: flex;
  align-items: center;
  margin-top: 120px;
  gap: 100px;
}
.touch-from h1{
  font-size: 80px;
  flex-basis: 50%;
}
.touch-from form{
  margin: 0;
}
.touch-from label{
  display: block;
}
.touch-from input, .touch-from textarea{
  width: 100%;
  padding: 20px 32px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
}
.touch-from label{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-input{
  width: 100%;
  margin-top: 10px;
}

/* footer area styles  */
.footer-area{
  background: #ffffff;
  margin-top: 120px;
  padding: 100px;
}
.footer-text{
  width: 530px;
  text-align: center;
  margin: 0 auto;
}
.list-Item ul{
  display: flex;
  justify-content: center;
  gap: 35px;
}
.list-Item ul li{
  list-style: none;
}
.list-Item li a{
  text-decoration: none;
}
.footer-logo{
  font-size: 100px;
  margin: 0;
}
.footer-subtitle{
  color: #8987A1;
}

/* challange area styles  */
.challange-area{
  text-align: center;
  margin-top: 120px;
}
.challange-area h1{
  font-size: 42px;
  margin-bottom: 40px;
}
.review-container{
  display: flex;
  gap: 20px;
}
.reviewer-details{
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  text-align: left;
}
.reviewer-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewer-info img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.reviewer-name{
  color: rgba(0, 0, 0, 0.3);
}
.reviewer-name h4{
  margin: 0;
}
.reviewer-name p{
  margin: 0;
}

/* Extra container styles  */
.extra-container{
  background: #ffffff;
  margin-top: 120px;
  text-align: center;
  padding: 40px 100px;
  border-radius: 14px;
}
.extra-container h1{
  font-size: 50px;
  margin-bottom: 0;
}
.extra-container p{
  color: rgba(0, 0, 0, 0.65);
}
.extra-container img{
  width: 740px;
  height: 340px;
  border-radius: 40px;
  margin-top: 20px;
}